body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

main {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.profileInfo,
.command-history {
  flex: 1 1 300px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.CGU {
  flex: 1 1 300px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.supprimerCompte {
  flex: 1 1 300px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  margin-bottom: 10px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.category {
  border: 1px solid #ccc;
  padding: 20px;
}

.left, .right {
  grid-column: span 1;
}


.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #3e8e41;
}

footer {
  background-color: #f0f0f0;
  text-align: right;
  padding: 10px 20px;
}